<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- favicon -->
    <link rel="icon" sizes="16x16" href="assets/img/favicon.png">

    <!-- Title -->
    <title> NoonPost. - Personal Blog HTML Template </title>
    

</head>

<body> 
  
        <h2>{{ post.title }}</h2>
        <h2>{{ post.created }}</h2>
        <div>{{ post.get_review_count }}</div>
        <h2>{{ post.get_average_rating_score }}/5.0 Average Rating  </h2>
        {% include "components/home/comments.html" %}
        {% include "components/home/comments_form.html" %}


</body> 
</html>