<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- favicon -->
    <link rel="icon" sizes="16x16" href="assets/img/favicon.png">

    <!-- Title -->
    <title> NoonPost. - Personal Blog HTML Template </title>
    

</head>

<body> 
    {%for post in page_obj %}
        <h2> <a href="{{post.get_absolute_url}}"></a>{{ post.title }}</h2>
       
    {% endfor %}

    {% include "components/home/pagination.html" %}
    
</body> 
</html>